body {
    font-family: 'Open Sans', sans-serif;

    .container {

        display: flex;
        justify-content: space-between;
        padding: 0 1%;
        width: 98%;

        .table-container {
            
            border: 1px solid #ccc;
            margin-top: 1rem;
            position: relative;
            width: 30%;
    
            .user {
    
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                display: flex;
                justify-content: space-between;
                padding: .3rem .5rem;
    
                .field {
                    display: flex;
    
                    .value {
                        color: #1F70C1;
                        font-weight: 600;
                        margin-left: .3rem;
                    }
                }
    
                .user-right {
    
                    display: flex;
                    padding-top: .8rem;
    
                    svg {

                        cursor: pointer;
                        height: 1.5rem;
                        width: 1.5rem;
    
                        &:hover {
                            color: #1F70C1;
                        }
                    }
                }
            }

            .no-registers-found {

                position: absolute;
                left: 20%;
                top: 50%;
                width: 60%;

                span {
                    color: #aaa;
                }
            }
        }
    
        .form-container {
    
            margin-top: 1rem;
            transition: left 1s;
            width: 65%;
    
    
            .editor {
        
                background-color: #eee;
                border-radius: .4rem;
                width: 100%;
                
                form {
            
                    margin: .1rem 0;
                    width: 100%;

                    .desktop-two-columns {
                        
                        justify-content: start;
                    }
        
                    .field {

                        display: flex;
                        flex-direction: column;
                        margin-top: .7rem;

                        .field-label {

                            display: flex;
                            justify-content: space-between;
                            width: 70%;

                            .label {

                                label {
                                    font-weight: bold;
                                    margin: .5rem 0;
                                    width: 100%;
                                }
                            }

                            .character-counter-max-value {
                                color: #f00;
                                font-weight: 600;
                                margin-left: .3rem;
                            }
                        }

                        .field-input {

                            input, select {
                        
                                background-color: #eee;
                                border: none;
                                border-radius: .2rem;
                                outline: none;
                                padding: .2rem .5rem;
                                width: 82%;
            
                                &:focus {
                                    background-color: #ccc;
                                }
                            }
                        }

                        .field-rule {
                            max-width: 70%;

                            span {
                                color: #f00;
                                font-size: .9rem;
                            }
                        }

                        .ck-content {
                            height: 20vh;
                        }
                    }

                }
                
                .sale-container, .customer-container, .products-container {
            
                    margin: .1rem 0;
                    padding: .5rem 1rem;
                    width: 100%;

                    .desktop-two-columns {
                        
                        justify-content: start;
                    }

                    .table-top-bar {

                        padding: 0 1.5%;
                        width: 95%;
                
                        table {
                
                            width: 100%;
                
                            .cart-header {
                
                                border-bottom: .1em solid #666;
                                width: 100%;
                                
                                .table-header-title {
                                    width: 40%;
                                }
                                
                                .table-header-description {
                                    width: 15%;
                                }
                                
                                .table-header-price {
                                    width: 15%;
                                }
                                
                                .table-header-quantity {
                                    width: 15%;
                                }
                                
                            }
                        }
                    }
                    
                    .cart-table {

                        padding: 0 1.5%;
                        width: 95%;
                        // min-height: 40vh;

                        table {

                            width: 100%;

                            .cart-product {

                                width: 100%;

                                .table-product-image {
                                    width: 40%;

                                    .product-image {
                                        width: 100%;
                                    }
                                }
                                
                                .table-product-title {
                                    width: 30%;
                                    
                                    .product-title {
                                        width: 100%;
                                    }
                                }
                                
                                .table-product-price {
                                    width: 15%;
                                    
                                    .product-price {
                                        width: 100%;
                                    }
                                }
                                
                                .table-product-quantity {
                                    width: 15%;
                                    
                                    .product-quantity {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .product {

                        .fields {

                            margin-top: .7rem;

                            .field {
    
                                display: flex;
                                flex-direction: column;
                                margin: .7rem 0;
        
                                .field-title {
        
                                    display: flex;
                                    margin-top: .4rem;
                                    
                                    span {
                                        font-weight: bold;
                                        width: 100%;
                                    }
                                }
        
                                .field-data {
        
                                    span {
                                        outline: none;
                                        padding: .2rem .5rem;
                                        width: 82%;
                    
                                        &:focus {
                                            background-color: #ccc;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                    .fields {

                        margin-top: .7rem;

                        .field {

                            display: flex;
                            margin: .7rem 0;
    
                            .field-title {
    
                                display: flex;
                                margin-right: .8rem;
                                
                                span {
                                    font-weight: bold;
                                    width: 100%;
                                }
                            }
    
                            .field-data {
    
                                span {
                                    outline: none;
                                    padding: .2rem .5rem;
                                    width: 82%;
                
                                    &:focus {
                                        background-color: #ccc;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            &.active {
                left: 55%;
                transition: left .3s ease;
                width: 48%;
            }
        }
    }
}