.purchase-success-container {

    background-color: #03c04a;
    border: .3rem solid hsl(120, 73%, 75%);
    border-radius: .7rem;
    left: 35%;
    padding: 1rem .5%;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 29%;
}