.desktop-cart {
    
    display: none;
}

.mobile-cart {

    display: block;
    padding: 0 10%;
    width: 80%;

    .cart-product {
        border: .1em solid #ccc;
        border-radius: .3em;
        margin-top: .5em;
        padding: .5em;

        .column {
            width: 100%;
        }
    }
    
    .cart-taxes {
        margin-top: 2em;
        text-align: center;
    }

    .featured-button {
        margin: 1.3rem 0;
    }
}