

    .categories {
        width: 100%;

        .categories-product {
            width: 40%;
            margin: 1em 1em;

            img {
                width: 100%;
            }

            .categories-products {
                flex-wrap: wrap;
            }
        }
    }

    