.notification {

    border-radius: .3rem;
    bottom: 1rem;
    padding: 1.5rem 1rem;
    position: absolute;
    right: 2rem;
    transition: all .5s;

    &.visible {
        opacity: 1;
    }

    &.success {
        background-color: #34A853;
    }

    &.error {
        background-color: #f33;
    }
}