.slider {
    height: 34vh;
    position: relative;
    width: 100%;
}

.slider .slider-image{
    position: absolute;
    width: 100%;

    img {
        width: 100%;
        margin: 13% 0 0 0;
    }
}

.slider .slider-title{
    background-color: rgba(0, 0, 0, .5);
    left: 10%;
    padding: .3em .5em;
    position: absolute;
    top: 30%;
    z-index: 10;
}

.slider .slider-title h2 {
    color: #ffffff;
    font-size: 1.5em;
}

.slider .slider-button {
    top: 50%;
    left: 35%;
}