.nav {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: .5rem 5rem;
    justify-content: space-around;

    .nav-left {
        display: flex;
        width: 100%;

        .nav-logo {
            margin-right: .5rem;
            width: 6%;
        }

        .nav-title {
            font-size: .6rem;
        }
    }
}