body {
    font-family: 'Open Sans', sans-serif;

    .container {

        display: flex;
        justify-content: space-between;
        padding: 0 1%;
        width: 98%;

        .users {
            border: 1px solid #ccc;
            margin-top: 1rem;
            width: 30%;
    
            .user {
    
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                display: flex;
                justify-content: space-between;
                padding: .3rem .5rem;
    
                .field {
                    display: flex;
    
                    .value {
                        color: #1F70C1;
                        font-weight: 600;
                        margin-left: .3rem;
                    }
                }
    
                .user-right {
    
                    display: flex;
                    padding-top: .8rem;
    
                    svg {

                        cursor: pointer;
                        height: 1.5rem;
                        width: 1.5rem;
    
                        &:hover {
                            color: #1F70C1;
                        }
                    }
                }
            }
        }
    
        .editor-column {
    
            top: 2rem;
            transition: left 1s;
            width: 65%;
    
    
            .editor {
        
                background-color: #eee;
                border-radius: .4rem;
                margin-top: .6rem;
                
                form {
            
                    margin: .1rem 0;
                    width: 100%;

                    .desktop-two-columns {
                        
                        justify-content: start;
                    }
        
                    .field {

                        display: flex;
                        flex-direction: column;
                        margin-top: .7rem;

                        .field-label {

                            display: flex;
                            justify-content: space-between;
                            width: 70%;

                            .label {

                                label {
                                    font-weight: bold;
                                    margin: .5rem 0;
                                    width: 100%;
                                }
                            }

                            .character-counter-max-value {
                                color: #f00;
                                font-weight: 600;
                                margin-left: .3rem;
                            }
                        }

                        .field-input {

                            input, select {
                        
                                background-color: #eee;
                                border: none;
                                border-radius: .2rem;
                                outline: none;
                                padding: .2rem .5rem;
                                width: 70%;
            
                                &:focus {
                                    background-color: #ccc;
                                }
                            }
                        }

                        .field-rule {
                            max-width: 70%;

                            span {
                                color: #f00;
                                font-size: .9rem;
                            }
                        }

                        .ck-content {
                            height: 20vh;
                        }
                    }

                }
            }
            
            &.active {
                left: 55%;
                transition: left .3s ease;
                width: 48%;
            }
        }
    }
}