
.nav {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 1rem 10%;
    position: relative;
    justify-content: space-around;
    width: 80%;

    .nav-left {
        display: flex;
        width: 100%;

        .nav-logo {
            margin-right: .5rem;
            width: 20%;
        }

        .nav-title {
            font-size: .6rem;
        }
    }
    
    .menu-button{

        text-align: center;
        width: 100%;

        .hamburger {
            cursor: pointer;
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
            z-index: 3000;

            .bar1,.bar2,.bar3{  
                display:block;  
                width: 2rem;  
                height: .1rem;  
                margin: .4rem auto;  
                background-color:#101010;  
                transition: 0.4s;  
            }  
            
            &.active .bar1{  
                transform: rotate(45deg) translate(.5rem, .2rem);  
            }  

            &.active .bar2 {  
                opacity: 0;  
            }  
            
            &.active .bar3 {  
                transform: rotate(-45deg) translate(.5rem, -.2rem);  
            }  
        }
    } 

    .menu{

        background-color: #f2f2f2;
        position: absolute;
        height: 100vh;
        left: 0;
        top: -200rem;
        transition: all 1s;
        width: 100%;
        z-index: 1000;
        
        &.active {

            top: 0;
            transition: all .5s;
        }

        .menu-ul {

            bottom: 0;
            display: flex;
            flex-direction: column;
            margin-top: 50%;
            z-index: 2000;
    
            li{
                font-size: 1.3em;
                margin: 1.5em 0;
                text-align: center;
    
                a {
                    text-decoration: none;
                    color: #000000;
                    font-size: 1.1em;
                }
            }
        }
    } 
}