.gallery {

    width: 90%;
    padding: 3em 5%;

    .column-aside {
        width: 25%;
        
        .categories-content{
            
            ul li{
                font-size: 1.2rem;
                margin-top: .5rem;
            }

            ul li:hover, ul li.active{
                color: #1F70C1;
                cursor: pointer;
            }
        }
    }

    .column-main {
        width: 75%;

        .main-top{
            background-color: #fefefe;

            .two-columns {
                width: 90%;
                padding: .7em 5%;
                border-top: .1em solid rgba( 0, 0, 0, .4);
                border-bottom: .1em solid rgba( 0, 0, 0, .4);
    
                .column {
                    width: max-content;
                }
            }
        } 
        

        .products {

            margin-top: 1em;

            .three-columns {

                justify-content: start;

                .column {
                    
                    margin-right: 3%;

                    .product {

                        border: .1rem solid rgba(0, 0, 0, .4);
                        border-radius: .4rem;
                        min-height: 40vh;
                        margin: .3rem;
                        padding: 0 10% 4% 10%;
                        position: relative;
                        transition: all .1s ease-in;
                        width: 80%;

                        &:hover {

                            border: .1rem solid rgba( 0, 0, 0, .8);
                        }

                        .product-title {

                            top: 60%;
                            margin-top: 1rem;
                            
                            h3 {
                                font-size: .9em;
                                font-weight: 100;
                            }
                        }

                        .product-price {
                            
                            position: absolute;
                            top: 55%;
                        }
                        
                        .product-button a {
                            
                            background-color: #f5f5f5;
                            border: .1em solid #cccccc;
                            border-radius: .1em;
                            color: #1F70C1;
                            padding: .3em;
                            position: absolute;
                            bottom: 8%;
        
                            &:hover {
                                border: .1em solid #333333;
                            }
                        }
                    }
                }
            }
        }
    }
}