.desktop-cart {
    
    width: 90%;
    padding: 0 5%;

    .table-top-bar {

        width: 100%;

        table {

            width: 100%;

            .cart-header {

                border-bottom: .1em solid #666;
                width: 100%;
                
                .table-header-title {
                    width: 15%;
                }
                
                .table-header-description {
                    width: 25%;
                }
                
                .table-header-price {
                    width: 20%;
                }
                
                .table-header-quantity {
                    width: 20%;
                }
                
                .table-header-total {
                    width: 20%;
                }
            }
        }
    }
    

    .table-product-title {
        width: 15%;
    }
    
    .table-product-description {
        width: 25%;
    }
    
    .table-product-price {
        width: 20%;
    }
    
    .table-product-quantity {
        width: 20%;
    }
    
    .table-product-total {
        width: 20%;
    }

    
    .cart-taxes {
        display: flex;
        flex-direction: column;
    }

    .cart-tax {
        display: flex;
        gap: 4rem;
        justify-content: end;
    }

    .cart-tax .column {
        width: max-content;
    }
}



