.product-datasheet {
    .product-datasheet-images {
        .product-datasheet-main-image .column {
            margin: auto;
        }
    
        .product-datasheet-secondary-images {
            width: 60%;
            margin: auto;
        }
    }
    
    .product-datasheet-main {
        width: 80%;
        padding: 0 10%;
    
        .product-datasheet-title {
            width: 70%;
            margin-bottom: .6em;
    
            h3 {
                font-weight: 100;
            }
        }
    
        .product-datasheet-price {
            span {
                color: rgba(0, 0, 0, 1);
                font-size: 2.5em;
                font-weight: 600;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .product-datasheet-x {
            display: flex;
            justify-content: center;
            margin: 1em;
    
            .column {
                margin-right: 1em;
    
                button {
                    background-color: rgba(255, 255, 255, .4);
                    border: .1em solid #000000;
                    display: flex;
                    font-size: 1.2em;
                    justify-content: center;
                    padding: .4em 1em;
                    width: 100%;
                }
            }
    
            svg {
                width: .9em;
                margin-right: .5em;
            }
        }
    }
}
