.notification {

    border-radius: .3rem;
    opacity: 0;
    padding: 1.5rem 1rem;
    position: fixed;
    right: 2rem;
    top: 4rem;
    transition: all .5s;

    &.visible {
        opacity: 1;
    }

    &.success {
        background-color: #34A853;
    }

    &.error {
        background-color: #f33;
    }
}