.featured-button{
    left: 12%;
    position: absolute;
    top: 29%;
    z-index: 10;

    button {
        background: rgb(0,25,87);
        background: linear-gradient(90deg, rgba(0,25,87,1) 0%, rgba(6,0,0,1) 84%);
        color: #ffffff;
        cursor: pointer;
        padding: .5em 2em;
        border-radius: 3em;
        text-decoration: none;
    }
}