.featured-button{
    
    margin-bottom: 1rem;
    margin-top: .5rem;

    button, a {
        
        background: linear-gradient(90deg, rgba(0,25,87,1) 0%, rgba(6,0,0,1) 84%);
        border-radius: 3em;
        color: #ffffff;
        cursor: pointer;
        padding: .5em 2em;
        text-decoration: none;
    }
}