
.slider {
    height: 70vh;
    position: relative;
    width: 100%;

    .slider-title{
        background-color: rgba(0, 0, 0, .5);
        left: 10%;
        padding: .3em .5em;
        position: absolute;
        top: 20%;
        z-index: 10;
        h2 {
            color: #ffffff;
            font-size: 2em;
        }
    }

    .slider-image{
        position: absolute;
    }
}