.bottom-bar {
  
    background-color: #eee;
    padding: .2rem 0;
    position: relative;
    width: 100%;
  
    .filters-container {

        .tooltip-container {

            margin: 0 auto;
            width: max-content;
        }

        padding: .2rem 0;

        .filter-icons {

            cursor: pointer;
            text-align: center;
    
            .hidden-icon {
                display: block;
            }
    
            .shown-icon {
                display: none;
            }
    
            svg {
                height: 1.5rem;
                width: 1.5rem;
            }
    
            &.active {
    
                .hidden-icon {
                    display: none;
                }
    
                .shown-icon {
                    display: block;
                }
            }
        }
    
        .filters {

            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-between;
            max-height: 0;
            overflow: hidden;
            padding: 0 10%;
            transition: max-height .2s;
            width: 80%;
            
            .filter {
                text-align: center;
                width: 45%;
            }
        }
        
        &.active {

            .filters {

                max-height: 20rem;
                transition: max-height 0.8s;
            }
        }
    }
    
}