/* nested-sort is the custom class name */
.nested-sort-container {

  .sorting-button {

    text-align: right;

    button {
    
        background: #1172c2;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        margin: 1.5%;
        position: relative;
        text-align: center;
        width: 10rem;
    }

    &.active button {
      background-color: #002991;
      text-shadow: .1rem .1rem 0px rgba(0,0,0,1);
    }
  }

  .nested-sort {
    padding: 0;
  }
  
  .nested-sort--enabled .nested-sort-item {
    cursor: move;
  }
  
  .nested-sort .nested-sort-item {
    list-style: none;
    padding: .4rem;
    background: #fff;
  }
  
  .nested-sort .nested-sort-item ol {
    padding: 0;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  
  /* ns-dragged is the class name of the item which is being dragged */
  .nested-sort .ns-dragged {
    border: 1px solid red;
  }
  
  /* ns-targeted is the class name of the item on which the dragged item is hovering */
  .nested-sort .ns-targeted {
    border: 1px solid green;
  }
}
