.saved-changes-container {
    border-radius: .3rem;
    bottom: -25rem;
    // display: none;
    padding: 1.5rem 1rem;
    position: absolute;
    right: 15rem;
    transition: all .5s;

    &.visible {
        display: block;
    }

    &.slide {
        bottom: -50rem;
    }

    &.success {
        background-color: #34A853;
    }

    &.error {
        background-color: #f33;
    }
}