.saved-changes-container {
    background-color: #1F70C1;
    border-radius: .3rem;
    bottom: -25rem;
    padding: 1.5rem 1rem;
    position: absolute;
    right: 15rem;
    transition: all .5s;

    &.visible {
        display: block;
    }

    &.slide {
        bottom: -50rem;
    }
}