
.tabs-container {
    

    .tabs {

        display: flex;
        justify-content: space-between;

        .tabs-left {

            display: flex;

            .tab {

                font-weight: 400;
                padding: .5rem .8rem;
                position: relative;
                width: max-content;

                span {
                    color: #000b;
                }

                &.active {
                    background-color: #1F70C1;
                    text-align: center;
                    padding: .5rem 1.2rem;

                    span {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
        }

        .tabs-right {

            display: flex;
            padding: .2rem 0;

            .tabs-right-item {

                margin: 0 .5rem;

                .admin-form-submit-button {

                    cursor: pointer;
                    margin-top: .2rem;
                
                    svg {
                        
                        height: 1.5rem;
                        width: 1.5rem;

                        &:hover {
                            color: #1F70C1;
                        }
                    }
                }
    
                .clean-button {

                    cursor: pointer;
    
                    svg {
                        height: 1.7rem;
                        width: 1.7rem;

                        &:hover {
                            color: #1F70C1;
                        }
                    }
                }
    
                .on-off-switch {
    
                    border: .1rem solid #4BAE4E;
                    border-radius: .3rem;
                    display: flex;
                    height: 1.5rem;
                    justify-content: space-between;
                    margin-top: .1rem;
                    overflow: hidden;
                    width: 3.1rem;

                    .on-off-switch-form {
                        display: none;
                    }
    
                    .on-off-switch-items {
                        
                        display: flex;
                        transition: all .1s;
                        padding: .35rem 0;
                        
                        .on {
                            font-size: .8rem;
                            margin-left: .1rem;
                            margin-right: .1rem;
                        }
    
                        .off {
                            font-size: .8rem;
                        }
    
                        .icon {
    
                            color: #4BAE4E;
                            margin-top: -.5rem;
    
                            svg {
                                height: 1.8rem;
                                width: 1.8rem;
                            }
                        }
    
                    }
                    &.active {
    
                        border-color: #D93025;
    
                        .on-off-switch-items {
                            
                            margin-left: -1.5rem;
    
                            .off {
                                margin-left: -.1rem;
                            }
        
                            .icon {
                                margin-left: -.1rem;
                                color: #D93025;
                            }
                        }
    
                    }
                }
            }
        }
    }

    .tab-content {
        padding: .6rem 0;
        width: 100%;
        display: none;

        &.active {
            display: block;
            background-color: #fff;
        }

        .images-forms-container{

            display: flex;

            .images-container {

                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                width: 45%;
                
                .first-image-container {

                    .add-image-button {
                        display: block;
                    }

                    .image {
                        display: none;
                    }
                }

                .image-container {

                    display: flex;
                    height: 50%;
                    width: 30%;

                    &.first-image-container {

                        .add-image-button {
                            display: block;
                        }

                        .image {
                            display: none;
                        }
                    }

                    .add-image-button {
                        display: none;
                    }

                    img {
                        display: block;
                        height: fit-content;
                        margin: 0 2.7%;
                        margin-bottom: .5rem;
                        padding: 0 5%;
                        width: 90%;
                    }
                
                } 

                .add-image-button {

                    background: #1172c2;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 600;
                    height: 6rem;
                    margin: 1.5%;
                    position: relative;
                    text-align: center;
                    width: 6rem;
    
                    &.active {
                        display: none;
                    }
                    
                    svg {
                        padding-top: .5rem;
                        height: 5rem;
                        width: 5rem;
                    }

                    .image-label {
                        text-align: center;
                    }
                    
                    .image-input {

                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                } 
            }
        }
    }
}

.locale-tabs-container {

    margin-top: 1rem;

    .tabs {

        display: flex;
        justify-content: start;

            .locale-tab {

                font-weight: 400;
                padding: .5rem .8rem;
                position: relative;
                width: max-content;

                span {
                    color: #000b;
                }

                &.active {
                    background-color: #1F70C1;
                    text-align: center;
                    padding: .5rem 1.2rem;

                    span {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
    }

    .locale-tab-content {
        padding: .6rem 1rem;
        position: absolute;
        width: 70%;
        display: none;

        &.active {
            display: block;
            background-color: #fff;
        }
    }
}