.contact {

    width: 80%;
    padding: 1em 10%;
    justify-content: space-around;

    .contact-title {
        
        margin: 2em;
    }

    .contact-main {

        justify-content: center;
        background: rgba(61, 61, 61, 0.6);
        border-radius: .4em;
        padding: .2em;

                
        .contact-info {

            display: inline;

            .contact-info-item {

                color: #ffffff;
                display: flex;
                justify-content: center;
                letter-spacing: .06rem;
                margin-bottom: 1em;
                text-align: left;

                .contact-info-icon svg {

                    fill: #ffffff;
                }

                .contact-info-text {

                    margin: 0 .6em;
                }
            }
        }
        .contact-form form {

            .column {

                width: 94%;
                margin: .2em .2em 1em .2em;
            }

            .close-button {
                display: none;
            }

            .contact-form-item {

                input {

                    width: 90%;
                }

                input, textarea {

                    background-color: transparent;
                    border: none;
                    border-bottom: .1em solid rgba(255, 255, 255, 1);
                    border-radius: 0;
                    color: rgba(255, 255, 255, 1);
                    margin-bottom: .5em;

                    &:focus {

                        outline: none;

                        &::placeholder {

                            color: rgba(255, 255, 255, .5);
                            border: none;
                        }
                    }

                    &::placeholder {

                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                        transition: all .2s ease-out;
                    }
                }

                textarea {
                    
                    height: 15vh;
                    width: 95%;
                }
                
                .contact-form-item-button {

                    text-align: center;

                    button {

                        background-color: rgba(0, 0, 0, .2);
                        border: none;
                        border-radius: .5em;
                        color: rgba(255, 255, 255, 1);
                        cursor: pointer;
                        padding: .3em 2em;

                        &:focus {

                            background-color: rgba(0, 0, 0, .1);
                            color: rgba(255, 255, 200, 1);;
                        }

                        &:hover {

                            background-color: rgba(0, 0, 0, .1);
                            color: rgba(255, 255, 200, 1);;
                        }
                    }
                }
            }
        }
    }
}